<header class="headerHome">
    <div class="downloadAt">
        <a href="" class="link itchio" title="Download Refuge on Itch.io | Available next December" rel="noopener" target="_blank" title="Refuge on Itch.io"></a>
    </div>
    <div class="panel-activation sb-toggle-left navbar-left menu-btn fa fa-bars">
        <div class="left">
            <div class="small"></div>
            <div class="big"></div>
        </div>
        <div class="right">
            <div class="big"></div>
            <div class="small"></div>
        </div>
    </div>
</header>