<section class="gameScreenshots">
    <div class="container">
        <div class="image">
            <div class="button previous"> < </div>
            <div class="button next"> > </div>
            
            <div class="imageBox">
                <img src="user/themes/refuge-theme/img/alex.jpg"  data-src="user/themes/refuge-theme/img/screenshot11.jpg" alt="Screenshot 1" class="sliderImage b-lazy">
                <img src="user/themes/refuge-theme/img/alex.jpg"  data-src="user/themes/refuge-theme/img/screenshot10.jpg" alt="Screenshot 1" class="sliderImage b-lazy">
                <img src="user/themes/refuge-theme/img/alex.jpg"  data-src="user/themes/refuge-theme/img/screenshot9.jpg" alt="Screenshot 1" class="sliderImage b-lazy">
                <img src="user/themes/refuge-theme/img/alex.jpg"  data-src="user/themes/refuge-theme/img/screenshot8.jpg" alt="Screenshot 1" class="sliderImage b-lazy">
                <img src="user/themes/refuge-theme/img/alex.jpg"  data-src="user/themes/refuge-theme/img/screenshot7.jpg" alt="Screenshot 1" class="sliderImage b-lazy">
                <img src="user/themes/refuge-theme/img/alex.jpg"  data-src="user/themes/refuge-theme/img/screenshot6.jpg" alt="Screenshot 1" class="sliderImage b-lazy">
                <img src="user/themes/refuge-theme/img/alex.jpg"  data-src="user/themes/refuge-theme/img/screenshot5.jpg" alt="Screenshot 1" class="sliderImage b-lazy">
                <img src="user/themes/refuge-theme/img/alex.jpg"  data-src="user/themes/refuge-theme/img/screenshot4.jpg" alt="Screenshot 1" class="sliderImage b-lazy">
            	<img src="user/themes/refuge-theme/img/alex.jpg"  data-src="user/themes/refuge-theme/img/screenshot3.png" alt="Screenshot 1" class="sliderImage b-lazy">
            	<img src="user/themes/refuge-theme/img/alex.jpg"  data-src="user/themes/refuge-theme/img/screenshot2.png" alt="Screenshot 1" class="sliderImage b-lazy">
            	<img src="user/themes/refuge-theme/img/alex.jpg"  data-src="user/themes/refuge-theme/img/screenshot1.png" alt="Screenshot 1" class="sliderImage b-lazy">
            </div>
            
        </div>
    </div>
</section>