@import 'mixins.less';
@import 'reset.less';

.overlayActive{
	overflow-y: hidden;
}

#body{
	.relative();
	overflow: hidden;
	margin: 0 auto;
}
.headerHome{
	.dim(100%, 60px);
	//.absolute();
	padding-top: 30px;
	padding-left: 60px;
	padding-right: 60px;
}
.headerInternal{
	.dim(95%, 62px);
	.absolute();
	.transition(.2s);
	max-width: 1280px;
	margin: 0 auto;
	border: 3px solid rgba(255, 255, 255, 0.85);
	background-color: black;
	padding-top: 12px;
	padding-left: 20px;
	padding-right: 20px;
	top: 20px;
	z-index: 999;
	left: 50%;
	.translate(-50%);
	.downloadAt{
		margin-left: 50px;
		.opacity(.3);
		.link{
			.dim(20px, 20px);
			margin-top: 6px;
		}
		&:hover{
			.transition(.2s);
			.opacity(1);
		}
	}
	.logoWhite{
		.dim(120px, 40px);
		.iblock();
		.fleft();
		margin-top: -2px;
	}
	.menu-btn{
		right: 20px;
	}
}
.fixed{
	.fixed();
	.transition(.2s);
	top: 10px;
}
.downloadAt{
	.fleft();
	.link{
		.dim(30px, 30px);
		.iblock();
		.fullBg();
		&:first-child{
			margin-right: 20px;
		}
	}
}

.steam{ .steam(); }
.itchio{ .itchio(); }
.facebook{ .facebook(); }
.twitter{ .twitter(); }

.logoWhite{
	background-image: url(../svg/logo-horizontal-white.svg);	
	.fullBg();
}
.menu-btn{
	.dim(43px, 48px);
	.absolute();
	cursor: pointer;
	right: 40px;
	z-index: 9999;
	.left, .right{
		.dim(20px, 100%);
		.fleft();
		.small{
			.dim(19px, 11px);
			background-color: white;
			margin-top: 5px;
		}
		.big{
			.dim(19px, 17px);
			background-color: white;
		}			
	}
	.left{
		margin-right: 3px;
		.small{
			margin-top: 0px;
			margin-bottom: 5px;
		}
	}
}

.button{
	.relative();
	.iblock();
	.purpleBg();
	.primaryFont();
	cursor: pointer;
	padding: 9px 25px;
	text-transform: uppercase;
	font-size: 3.5em;
	border: 4px solid white;
	text-align: center;
	a{.dim(100%, 100%);}
	&:after{
		content: ' ';
		.dim(100%, 100%);
		.absolute();
		.purpleBg();
		z-index: -1;
		border: 4px solid white;
		bottom: -18px;
		left: 15px; 
	}
	&:hover, &:active{
		.purpleColor();
		background-color: white;
	}
}

.navOverlay{
	.fullScreen();
	.overlay();
	.fixed();
	.primaryFont();
	z-index: 9999;
	overflow: scroll;
	display: none;
	top: 0;
	left: 0;
	background-color: rgba(13, 4, 34, 0.99);
	.navigationTop{
		width: 100vw;
		height: 12vh;
		.logoWhite{
			.dim(130px, 40px);
			margin-left: 40px;
			margin-top: 20px;
		}
	}
	.navigation{
		height: 74vh;
		.buttonBox{
			.dim(90%, 25%);
			.relative();
			margin: 0 auto;
			z-index: 1;
			&:before{
				.dim(100%, 5px);
				.absolute();
				z-index: -2;
				top: 30%;
				background-color: white;
				content: ' ';
			}
		}
	}
	.navigationBottom{
		.dim(100vw, 10vh);
		.download{
			.fright();
			margin-right: 40px;
			p{ font-size: 2em; .fleft(); margin-right: 20px; }
			.downloadLink{
				.dim(35px, 35px);
				.iblock();
				.fleft();
				&:last-child{ margin-left: 15px;}
			}
		}
	}
	.menu-btn{
		top: 30px;
		right: 40px;
	}
}

.gameScreenshots{
	width: 100vw;
	.clr();
	.container{
		.relative();
	}
	.image{
		.dim(80%, 450px);
		.relative();
		margin: 0 auto;
		border: 4px solid white;
		.imageBox{
			.dim(100%, 100%);
			.iblock();
			z-index: 0;
			overflow: hidden;
			.sliderImage{
				.dim(100%);
				height: auto;
			}
		}
	}
	.button{
		.absolute();
	}
	.previous{
		left: -50px;
		top: 180px;
	}
	.next{
		right: -50px;
		top: 180px;
	}
}

.theGame{
	.primaryFont();
	h2{
		width: 100vw;
		text-align: center;
		font-size: 4em;
		margin-top: 80px;
		margin-bottom: 60px;
	}
	.textContainer{
		.dim(80%);
		max-width: 1000px;
		margin: 0 auto;
		column-count: 2;
		column-gap: 70px;
	}
	p{
		font-size: 2em;
		margin-bottom: 20px;
		line-height: 1.2em;
	}
	.yourCall{
		font-size: 9vw;
		text-align: center;
		margin-top: 150px;
		margin-bottom: 150px;
	}
}

.characters{
	.dim(100%, 50px);
	margin-top: 100px;
	text-align: center;
}
.character{
	.dim(60px, 70px);
	.relative();
	.fullBg();
	margin-left: 20px;
	margin-right: 20px;
	display: inline-table;
}
.said{
	background-size: 100%;
	background-image: url(../svg/character-1.png);
}
.feliz{
	background-image: url(../svg/character-2.png);
}
.horse{
	background-image: url(../svg/character-3.png);
}
.hey{
	background-image: url(../svg/character-4.png);
}



//
// USED ON ABOUT THE GAME AND HOMEPAGE
//
.yourDecision{
	width: 100vw;
	.relative();
	background-repeat: repeat-x;
	background-image: url(../img/purpleGradientBg.png);
	padding-top: 10px;
	.container{
		margin-top: 230px;
	}
	.decisionText{
		.dim(500px);
		.fleft();
		.clr();
		.primaryFont();
		.decision{ font-size: 5em; }
		.yours{ font-size: 9em; line-height: 0.75em; }
		p{ 
			font-size: 1.55em;
			margin-top: 30px;
			line-height: 1.55em;
		}
	}
	.gameplayBox{
		.dim(500px);
		.fleft();
		.clr();
		border: 5px solid white;
		margin-left: 100px;
		.gameplay{
			.dim(100%, 300px);
			background-color: #FFF;
		}
		.moreGameplay{
			display: none;
		}
		.button{
			margin: 0 auto;
			font-size: 1.3em;
			margin-top: 20px;
		}
	}
}
.testimonials{
	width: 100vw;
	height: 400px;
	padding-top: 50px;
	padding-bottom: 50px;
	.primaryFont();
	background-image: url(../svg/quotation-mark.svg);
	background-position: 50% 40%;
	background-size: 5%;
	background-repeat: no-repeat;
	.testimonial{
		.dim(85%);
		.clr();
		padding-top: 150px;
		max-width: 600px;
		margin: 0 auto;
		text-align: center;
		.text{
			font-size: 2.3em;
			line-height: 1.2em;
		}
		.author{
			font-size: 1.5em;
			color: #AE8BEA;
			margin-top: 15px;
		}
	}
}



#footer{
	.dim(100%);
	.primaryFont();
	padding-top: 40px;
	text-align: center;
	.symbol{
		.dim(80px, 80px);
		.fullBg();
		.relative();
		margin: 0 auto;
		background-image: url(../svg/symbol-refuge.svg);	
	}
	.downloadBtns{
		margin-top: 60px;
		margin-bottom: 150px;
		.downloadBtn{
			.dim(100px, 30px);
			display: inline-table;
			font-size: 2em;
			padding-left: 45px;
			background-repeat: no-repeat;
			background-size: 20% 100%;
			background-position: top left;
			&:first-child{
				.steam();
				margin-right: 60px;
			}
		}
		.steam{
			background-image: url(../svg/steam.svg);
		}
	}
	.downloadNow{
		font-size: 5vw;
		margin-top: 80px;
	}
	.line{
		.dim(95%, 2px);
		max-width: 1280px;
		margin: 0 auto;
		border-top: 2px solid white;
		margin-top: 140px;
		margin-bottom: 140px;
	}
	.copyright{
		.dim(50%);
		.fleft();
		text-align: left;
		padding-left: 40px;
		padding-bottom: 150px;
		p{ font-size: 1.2em; }
		.refuge{
			.dim(100%);
			margin-bottom: 10px;
			font-size: 2.2em;
		}
	}
	.social{
		.dim(50%, 50px);
		.fleft();
		text-align: right;
		padding-right: 40px;
		padding-bottom: 150px;
		a{ 
			.dim(30px, 30px); 
			.iblock();
			&:first-child{margin-right: 20px;}
		}
	}
}

@import 'media-queries.less';