@import 'mixins.less';
@import 'reset.less';

.headerHome{
	.dim(100%, 60px);
	//.absolute();
	padding-top: 30px;
	padding-left: 60px;
	padding-right: 60px;
	.downloadAt{
		.fleft();
		.link{
			.dim(30px, 30px);
			.iblock();
			.fullBg();
			&:first-child{
				margin-right: 20px;
			}
		}
		.steam{ .steam(); }
		.itchio{ .itchio(); }
	}
}
.menu-btn{
	.dim(43px, 48px);
	.fright();
	.left, .right{
		.dim(20px, 100%);
		.fleft();
		.small{
			.dim(19px, 11px);
			background-color: white;
			margin-top: 5px;
		}
		.big{
			.dim(19px, 17px);
			background-color: white;
		}			
	}
	.left{
		margin-right: 3px;
		.small{
			margin-top: 0px;
			margin-bottom: 5px;
		}
	}
}
.navOverlay{
	.fullScreen();
	.overlay();
	.fixed();
	top: 0;
	left: 0;
	background-color: rgba(13, 4, 34, 0.9);
	.navigationTop{
		width: 100vw;
		height: 15vh;
	}
	.navigation{
		height: 85vh;
		.buttonBox{
			.dim(90%, 25%);
			.relative();
			margin: 0 auto;
			z-index: 1;
			.button{
				.relative();
				.iblock();
				.purpleBg();
				padding: 10px 25px;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 2.5em;
				border: 4px solid white;
				&:after{
					content: ' ';
					.dim(100%, 100%);
					.absolute();
					.purpleBg();
					z-index: -1;
					border: 4px solid white;
					bottom: -18px;
					left: 15px; 
				}
				&:hover, &:active{
					.purpleColor();
					background-color: white;
				}
			}
			&:before{
				.dim(100%, 5px);
				.absolute();
				z-index: -2;
				top: 30%;
				background-color: white;
				content: ' ';
			}
		}
	}
}