@import 'mixins.less';
@import 'reset.less';
@import 'animations.less';

body{
	background-image: none !important;
}
.headerHome{
	.absolute();
	z-index: 1;
}
.mainHome{
	.dim(100vw, 100vh);
	.relative();
	.primaryBg();
	top: 0;
	z-index: 0;
	background-image: url(../img/home-bg.png);
	background-repeat: repeat-x;
	background-position: 0 100%;
	.symbolTop{
		.dim(12%, 115px);
		.absolute();
		.fullBg();
		.rotate(180deg);
		.translate(-50%);
		left: 50%;
		top: 0;
		background-image: url(../svg/symbol-refuge-rotated.svg);
	}
	.mainContent{
		.dim(70%);
		.relative();
		.clr();
		max-width: 510px;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translate(-60%);
		.refugeSymbol{
			.dim(140px, 140px);
			.fullBg();
			.fleft();
			background-image: url(../svg/symbol-refuge.svg);
		}
		.refuge{
			.primaryFont();
			.fleft();
			margin-left: 30px;
			font-size: 10em;
			margin-bottom: 15px;
		}
		.button{
			.absolute();
			right: -200px;
			top: 60px;
			font-size: 1.3em;
		}
		.by{
			.primaryFont();
			font-size: 1.5em;
			text-align: right;
		}
	}
	.keepExploring{
		.dim(180px, 130px);
		.absolute();
		bottom: 15px;
		left: 50%;
		.translate(-50%);
		.arrowDown, .arrowDownSmall{
			.absolute();
			.fullBg();
			left: 50%;
			background-image: url(../svg/white-arrow-down.svg);
		}
		.arrowDown{
			.transition(0);
			.dim(20px, 20px);
			bottom: 0px;
			animation: arrowdown 1s infinite;
		}
		.arrowDownSmall{
			.dim(12px, 12px);
			bottom: 30px;
			animation: arrowdownsmall 1s infinite;
		}
	}
}

@import 'media-queries.less';