@import 'mixins.less';
@import 'reset.less';

body{
	background-image: none !important;
}
.headerHome{
	.absolute();
	z-index: 1;
}
.mainHome{
	.dim(100vw, 100vh);
	.relative();
	.primaryBg();
	top: 0;
	z-index: 0;
	.symbolTop{
		.dim(12%, 115px);
		.absolute();
		.fullBg();
		.rotate(180deg);
		.translate(-50%);
		left: 50%;
		top: 0;
		background-image: url(../svg/symbol-refuge-rotated.svg);
	}
	.mainContent{
		.dim(70%);
		.relative();
		.clr();
		max-width: 510px;
		margin: 0 auto; 
		top: 300px;
		.refugeSymbol{
			.dim(140px, 140px);
			.fullBg();
			.fleft();
			background-image: url(../svg/symbol-refuge.svg);
		}
		.refuge{
			.primaryFont();
			.fleft();
			margin-left: 30px;
			font-size: 10em;
			margin-bottom: 15px;
		}
		.button{
			.absolute();
			right: -200px;
			top: 60px;
			font-size: 1.3em;
		}
		.by{
			.primaryFont();
			font-size: 1.5em;
			text-align: right;
		}
	}
}
.yourDecision{
	width: 100vw;
	.relative();
	background-repeat: repeat-x;
	background-image: url(../img/purpleGradientBg.png);
	padding-top: 10px;
	.headerInternal{
	}
	.container{
		margin-top: 230px;
	}
	.decisionText{
		.dim(500px);
		.fleft();
		.clr();
		.primaryFont();
		.decision{ font-size: 5em; }
		.yours{ font-size: 9em; line-height: 0.75em; }
		p{ 
			font-size: 1.55em;
			margin-top: 30px;
			line-height: 1.55em;
		}
	}
	.gameplayBox{
		.dim(500px);
		.fleft();
		.clr();
		margin-left: 100px;
		.gameplay{
			.dim(100%, 300px);
			background-color: #FFF;
		}
		.button{
			margin: 0 auto;
			font-size: 1.3em;
			margin-top: 20px;
		}
	}
}
.testimonials{
	width: 100vw;
	height: 400px;
	padding-top: 50px;
	padding-bottom: 50px;
	.primaryFont();
	.testimonial{
		.dim(85%);
		.clr();
		padding-top: 150px;
		max-width: 600px;
		margin: 0 auto;
		text-align: center;
		background-image: url(../svg/quotation-mark.svg);
		background-position: 50% 50%;
		background-size: 12%;
		background-repeat: no-repeat;
		.text{
			font-size: 2.3em;
			line-height: 1.2em;
		}
		.author{
			font-size: 1.5em;
			color: #AE8BEA;
			margin-top: 15px;
		}
	}
}
@import 'media-queries.less';