@import 'mixins.less';
@import 'reset.less';
@import 'animations.less';

body{
	background-image: none !important;
}
.headerHome{
	.absolute();
	z-index: 1;
}
.mainHome{
	.dim(100vw, 100vh);
	.relative();
	.primaryBg();
	top: 0;
	z-index: 0;
	background-image: url(../img/home-bg.png);
	background-repeat: repeat-x;
	background-position: 0 100%;
	.videoBg{
		.dim(100%, 100%);
		.absolute();
		.opacity(.1);
		z-index: 0;
	}
	.mainContent{
		.dim(100%);
		.relative();
		.clr();
		top: 50%;
		transform: translateY(-55%);
		.refugeSymbol{
			.dim(140px, 140px);
			.fullBg();
			.absolute();
			display: none;
			top: -130px;
			left: 50%;
			.translate(-50%);
			background-image: url(../svg/symbol-refuge.svg);
		}
		.refuge{
			.dim(80%);
			.primaryFont();
			margin: 0 auto;
			text-align: center;
			font-size: 15vw;
		}
		.smaller{
			min-height: 80px;
			font-size: 5vw;
			margin-bottom: 25px;
		}
		.button{
			.absolute();
			right: -200px;
			top: 60px;
			font-size: 1.3em;
			display: none;
		}
		.by{
			.dim(100%);
			height: 30px;
			.primaryFont();
			font-size: 1.5em;
			text-align: center;
		}
	}
	.keepExploring{
		.dim(180px, 130px);
		.absolute();
		bottom: 15px;
		left: 50%;
		.translate(-50%);
		.arrowDown, .arrowDownSmall{
			.absolute();
			.fullBg();
			left: 50%;
			background-image: url(../svg/white-arrow-down.svg);
		}
		.arrowDown{
			.transition(0);
			.dim(20px, 20px);
			bottom: 0px;
			animation: arrowdown 1s infinite;
		}
		.arrowDownSmall{
			.dim(12px, 12px);
			bottom: 30px;
			animation: arrowdownsmall 1s infinite;
		}
	}
}

@import 'media-queries.less';