{% block stylesheets %}
    
    {% do assets.addCss('theme://css/contact.css', 103) %}
    
{% endblock %}
{% embed 'partials/base-internal.html.twig' %}

    

	
	{% block content %}

		<section class="yourDecision">
       		
       		{% include 'partials/header-internals.html.twig' %}
			
			
			<div class="container">
				<div class="decisionText">
					
					{{ page.content }}

				</div>
				<div class="formContainer">
					<form class="form" id="contactForm">
						<div class="inputContainer">
							<input type="text" required name="name" maxlength="50" class="input">
							<label for="name">Your name</label>
						</div>
						<div class="inputContainer">
							<input type="email" required name="email" maxlength="100" class="input">
							<label for="email">Email</label>
						</div>
						<div class="inputContainer">
							<textarea name="message" required class="input textarea"></textarea>
							<label for="message">Message</label>
						</div>
						<div class="inputContainer">
							<input type="submit" value="SEND" class="button submit" class="submit">
						</div>
					</form>
					<p class="successMessage">EMAIL SENT, THANKS!</p>
				</div>
			</div>
		</section>

		<script type="text/javascript" src="user/themes/refuge-theme/js/contact-form.js"></script>

	{% endblock %}

{% endembed %}


