{% embed 'partials/base-internal.html.twig' %}
    
	{% do assets.addCss('theme://css/contact.css', 103) %}
	
	{% block content %}

		<section class="yourDecision">
       		
       		{% include 'partials/header-internals.html.twig' %}
			
			
			<div class="container">
				<div class="decisionText contactText">
					
					{{ page.content }}

				</div>
			</div>
		</section>

		<script type="text/javascript" src="user/themes/refuge-theme/js/contact-form.js"></script>

	{% endblock %}


{% endembed %}
