    
{% do assets.addCss('theme://css/home.css', 103) %}
    
{% embed 'partials/base-home.html.twig' %}

	{% set collection = page.collection() %}

	{% block content %}
		{% set blog_image = page.media.images|first.grayscale().contrast(20).brightness(-100).colorize(-35,81,122) %}

		{% if blog_image %}
			<div class="flush-top blog-header blog-header-image" style="background-image: url({{ blog_image.url }});"></div>
		{% endif %}
		<section class="mainHome">
			<video autoplay id="videoViewport" loop class="videoBg" src="user/themes/refuge-theme/video/refuge-every-journey-ends.mp4"></video>
			<figure class="symbolTop"></figure>
			<div class="mainContent">
				<div class="refugeSymbol"></div>
				<h1 class="refuge" id="mainRefuge"></h1>
				<h2 class="refuge smaller" id="secondRefuge"></h2>
				<p class="by" id="by"></p>
				<a href="#" class="button" title="Download Now @ Steam" target="_blank" rel="noopener">DOWNLOAD NOW</a>
			</div>
			<div class="keepExploring">
				<div class="arrowDown"></div>
				<div class="arrowDownSmall"></div>
			</div>
		</section>

		<section class="yourDecision">
       		
       		{% include 'partials/header-internals.html.twig' %}
			
			<div class="container">
				<div class="decisionText">
					
					{{ page.content }}

				</div>
				<div class="gameplayBox">
					<div class="gameplay">
						<iframe width="100%" height="100%" title="Refuge Trailer" src="https://www.youtube.com/embed/cC0YUB8Lx0Y?rel=0" class="b-lazy" frameborder="0" allowfullscreen></iframe>
					</div>
					<a href="#" class="button moreGameplay" title="More Gameplay Videos">MORE GAMEPLAY VIDEOS</a>
				</div>
			</div>
		</section>

		<section class="testimonials">
			<div class="testimonial">
			
			</div>
		</section>

		{% include 'partials/image-slider.html.twig' %}

		{% include 'the-game.html.twig' %}

		<div class="content-wrapper blog-content-list grid pure-g">
			<div id="listing" class="block pure-u-2-3 h-feed">
				{% for child in collection %}
			        {% include 'partials/blog_item.html.twig' with {'blog':page, 'page':child, 'truncate':true} %}
			    {% endfor %}

                {% if config.plugins.pagination.enabled and collection.params.pagination %}
                    {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
                {% endif %}
			</div>
		</div>

		<script type="text/javascript" src="user/themes/refuge-theme/js/main.min.js"></script>
		<script type="text/javascript" src="user/themes/refuge-theme/js/home.min.js"></script>
		<script type="text/javascript" src="user/themes/refuge-theme/js/imageSlider.min.js"></script>
		<script type="text/javascript" src="user/themes/refuge-theme/js/lazy-load.min.js"></script>
		<script type="text/javascript" src="user/themes/refuge-theme/js/typed/typed.min.js"></script>

	{% endblock %}

	{% block javascripts %}

        {% do assets.addJs('jquery', 101) %}

    {% endblock %}	


{% endembed %}


