{% block stylesheets %}
    
    {% do assets.addCss('theme://css/home.css', 103) %}
    
{% endblock %}
{% embed 'partials/base-home.html.twig' %}

	{% set collection = page.collection() %}

	{% block content %}
		{% set blog_image = page.media.images|first.grayscale().contrast(20).brightness(-100).colorize(-35,81,122) %}

		{% if blog_image %}
			<div class="flush-top blog-header blog-header-image" style="background-image: url({{ blog_image.url }});">
		{% endif %}
		<section class="mainHome">
			<figure class="symbolTop"></figure>
			<div class="mainContent">
				<div class="refugeSymbol"></div>
				<h1 class="refuge">Refuge</h1>
				<p class="by">A VIDEOGAME BY NOT-YET</p>
				<a href="#" class="button" title="Download Now">DOWNLOAD NOW</a>
			</div>

		</section>


		<section class="yourDecision">
       		
       		{% include 'partials/header-internals.html.twig' %}
			
			<div class="container">
				<div class="decisionText">
					
					{{ page.content }}

				</div>
				<div class="gameplayBox">
					<div class="gameplay"></div>
					<a href="#" class="button" title="More Gameplay Videos">MORE GAMEPLAY VIDEOS</a>
				</div>
			</div>

		</section>

		<section class="testimonials">
			{% include 'testimonials.html.twig' %}
		</section>

		<!-- <div class="blog-header">
		</div> -->

		<div class="content-wrapper blog-content-list grid pure-g">
			<div id="listing" class="block pure-u-2-3 h-feed">
				{% for child in collection %}
			        {% include 'partials/blog_item.html.twig' with {'blog':page, 'page':child, 'truncate':true} %}
			    {% endfor %}

                {% if config.plugins.pagination.enabled and collection.params.pagination %}
                    {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
                {% endif %}
			</div>
		</div>
	{% endblock %}

{% endembed %}


