{% block stylesheets %}
	{% do assets.addCss('theme://css/blog.css', 103) %}
{% endblock %}
{% embed 'partials/base-internal.html.twig' %}

	{% block content %}
		<div class="blog-content-item grid pure-g-r">
			<div id="item" class="block pure-u-2-3 h-entry">
			    {% include 'partials/blog_item_read.html.twig' with {'blog':page.parent, 'truncate':false} %}
			</div>
		</div>
	{% endblock %}

{% endembed %}
