<section class="theGame">

	<h2>THE GAME</h2>




	<div class="textContainer">

		<p>Refuge is an adventure game where you play Sayid, a bus driver from a small town thrown into conflict by the powers that be.</p>

		<p>It’s no longer safe to stay where he lives; he must embark on a ruthless and dangerous journey across the country to escape.</p>

		<p>You must keep your group well fed, healthy and faithful in your leadership, because everybody is depending on you to make it. Failing to care for your group will have dire consequences beyond their death. </p>

		<p>Who gets fed? Who gets water? The decisions and consequences are yours.</p>

	</div>

	<div class="characters">
		<div class="character said"></div>
		<div class="character feliz"></div>
		<div class="character horse"></div>
		<div class="character hey"></div>
	</div>

	<p class="yourCall">Every journey ends.</p>

</section>

		


