<section class="theGame">

	<h2>THE GAME</h2>

	<div class="textContainer">
		<p>Refuge is an immersive decision making game, where every single decision relies on you, and your luck of course.</p>
		<p>Feliz has found himself lost in his devastaded city, and now he needs to make his way to a safer place. But, is is not that simple.</p>
		<p>Escaping from a country devastaded by war and that is still under control of both army and rebels is a terrifying experience that set families apart and ruines entire civilization's cultures.</p>
		<p>Feliz has got the chance to start his journey, but wise decisions have to be made in order to successfully making it to a new place, safe to restart his life besides his loved ones.</p>
	</div>
	<p class="yourCall">It’s all your call.</p>

	<!-- {% block content %}
		{{ page.content }}
	{% endblock %} -->

</section>

		


